.todoContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  height: 50rem;
  flex-wrap: wrap;
}

.todoItem {
  flex: 0 1 30rem;
  min-height: 10rem;

  display: flex;
  align-items: center;

  padding: 2rem;
  border: solid var(--color-grey-3) 1px;
  border-radius: 5px;
  background-color: var(--color-grey-2);
  box-shadow: var(--shadow-light);
  color: var(--font-color2);
  font-size: 1.5rem;
}

.todoItem:not(:last-child) {
  margin-right: 3rem;
}

.notes {
  flex: 1;
  display: flex;
  align-items: center;
}

.menuIcon {
  align-self: flex-start;
  justify-self: flex-end;
  width: 1.5rem;
  transform: scale(0.85);
  margin-left: 1rem;
  fill: var(--color-primary);
}
